<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flowers Database</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='home/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/css/util.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Genus</th>
								<th class="column2">Species</th>
								<th class="column3">Common Name</th>
								<th class="column4">Sightings</th>
								<th class="column5">Update</th>
								<th class="column6">Insert</th>
							</tr>
						</thead>
						<tbody>
                                {% for row in data %}
								<tr>
                                    <td class="column1">{{ row[0] }}</td>
                                    <td class="column2">{{ row[1] }}</td>
                                    <td class="column3">{{ row[2] }}</td>
									<td class="column4">
                                        <a role="button" class="btn btn-success" href="{{ url_for('sightings', comname=row[2]) }}">Sightings</a>
                                    </td>
									<td class="column5">
                                        <a role="button" class="btn btn-primary" href="{{ url_for('update', comname=row[2]) }}">Update</a>
                                    </td>
									<td class="column6">
                                        <a role="button" class="btn btn-secondary" href="{{ url_for('insert', comname=row[2]) }}">Insert</a>
                                    </td>
								</tr>
                                {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
    <script src="{{ url_for('static', filename='home/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='home/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='home/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='home/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='home/js/main.js') }}"></script>

</body>
</html>
