<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flowers</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='index/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">
                        
						<div class="row header">
							<div class="cell">
                                Name
                            </div>
							<div class="cell">
								Person
							</div>
							<div class="cell">
								Location
							</div>
                        	<div class="cell">
								Sighted
							</div>
						</div>
                        
                        <!-- loop through data table. -->
                        {% for row in data %}
						<div class="row">
                            {% for r in row %}
							<div class="cell">
                                {{ r }}
							</div>
                            {% endfor %}
                            </div>
                        {% endfor %}
					</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
    <script src="{{ url_for('static', filename='index/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='index/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='index/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='index/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='index/js/main.js') }}"></script>

</body>
</html>
